[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "shell/base16-shell"]
	path = shell/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "tools/powerline-fonts"]
	path = tools/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "tools/Colormake"]
	path = tools/Colormake
	url = https://github.com/pagekite/Colormake
[submodule "tools/the_silver_searcher"]
	path = tools/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "shell/base16-xfce4-terminal"]
	path = shell/base16-xfce4-terminal
	url = https://github.com/afg984/base16-xfce4-terminal
[submodule "shell/base16-gnome-terminal"]
	path = shell/base16-gnome-terminal
	url = http://github.com/aaron-williamson/base16-gnome-terminal.git
